.container-footer{
    background: var(--bg-secondary);
    padding: 10px 0;
    margin: 20px 0 0 0;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    
}
.container-footer a{
    text-decoration: none;
    color: #fff;
}
.row-upper-f{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:2rem;
    
}
.col-logo{
    margin:auto;
    width: 250px;
}
.col-logo img{
    width: 100%;
    
}
.inif {
margin:auto;
}
.col-upper-f{
    padding: 10px 30px;
    margin: 10px;
}
.subscribe-btn-f{
    border: none;
    background-color: var(--primary-text);
    font-size: 18px;
    /* padding: 3px; */
    /* color: #fff; */
}

.col-upper-f input{
    width: 80%;
    margin-top: 18px;
    border: none;
    background: var(--bg-secondary);
    font-size: 18px;
    color: rgb(190, 190, 190);
}
.col-upper-f input:focus{
    outline: none;
}
.col-upper-f span{
    margin-top: 0.3rem ;
    padding: .2rem;
}

.col-upper-f span .form-flex{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid white;
    padding: 0 0 10px 0;
}
.col-upper-f p{
    font-size: .7rem;
}
.col-upper-f h2{
    font-size: 1rem;
    /* margin: .3rem; */
}

.row-bottom-f{
    margin: 0.5em;  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1.5rem;
    /* padding: 20px 0 0; */
    text-align: center;
}
.col-bottom-f{
    padding: 10px 30px;
    margin: 10px;
}
.permalinks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.1rem;
    margin: 1rem auto 1rem;
}
ul{
    list-style-type: none;
}
li{
    transition: var(--transition);
}
li:hover{
    transform: scale(1.1);    
}

.col-bottom-f h4{
    font-size: 1rem;
}
.col-bottom-f p{
    padding: 10px 0;
    font-size: .7rem;
}
.col-bottom-f span{
    font-size: 1.8rem;
    margin: .3rem;
    
}
@media screen and (max-width:1024px) {
    .row-upper-f{
        grid-template-columns: 1fr 1fr;
        gap:1.2rem
       
    }    
    .row-bottom-f{
        grid-template-columns: 1fr 1fr;
        gap:1.2rem
       
    }    
    .col-upper-f p{
        font-size: 1.2rem;
    }
    .col-upper-f h2{
        font-size: 1.5rem;
    }
    .subscribe-btn{
        font-size: 15px;
        /* padding: 3px; */
        /* color: #fff; */
    }
    .col-upper-f input{
        margin-top: 1rem;
        border: none;
        background: var(--bg-secondary);
        font-size: 12px;
        color: #fff;
    }
    .col-upper-f span{
        width: 70%;
    }
    .col-upper-f span .form-flex{
        justify-content: space-between;
        border-bottom: 2px solid white;
        padding: 0 0 10px 0;
    }
    

} 
    
    /* ======== MEDIA QUERIES(Small DEVICES)====== */
    
      @media screen and (max-width:600px) {
        .row-upper-f-f{
        grid-template-columns: 1fr;
        gap:1rem;
    }
      
        .row-bottom{
        grid-template-columns: 1fr;
        gap:1rem;
    }

    }