.max-width {
  margin: auto;
  max-width: 80%;
}

.width-50 {
  width: 50%;
}
.flex {
  display: flex;
}
.container{
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.absolute-center {
  justify-content: center;
  align-items: center;
}
.text-center{
  text-align: center;
}
.flex-col {
  flex-direction: column;
}

.heading{
  text-align: center;
  font-size:2rem ;
  margin-bottom: 1rem;
}

.underline::after{
  display: block;
  content: "";
  width: 90%;
  height: 1px;
  background-color: rgb(180, 180, 180);
  margin: 2rem auto 1rem ;
}

.footer {
  font-size: 40px;
  font-weight: 600;
  padding: 0px 0px 20px;
}

@media all and (max-width: 1279px) {
  .max-width {
    max-width: 80%;
  }
  .footer {
    font-size: 32px;
  }
}

@media all and (max-width: 767px) {
  .max-width {
    max-width: 90%;
  }

  .non-mobile {
    display: none !important;
  }


  .footer {
    font-size: 20px;
  }
}

@media all and (min-width: 766px) {
  .only-mobile {
    display: none !important;
  }
}
