:root {
  --bg-primary: #0e1628;    
  --text: #000;
  --text1: rgb(30, 30, 30);
  --text2: #FFBD59;
  --text3: #48719e;
  --text4: #e9e100;
  --primary-text: #48719e;
  --bg-secondary: #2b2b2b;
  --white-bg: #f8f8f8;
  --bg-green: #027757;
  --bg-gray: #272727;
  --link-blue: #7ea2ec;
  --bg-light-gray: #272b2d6e;
  --bg-red: #ee2f4c;
  --bg-purple: rgb(90, 30, 203);
  --bg-blue: rgb(26, 97, 233);

   --container-width-lg:85%;
  --container-width-md:86%;
  --container-width-sm:90%; 

  --transition: all 400ms ease;

}
