.navbar {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0px 8x 32px 0 #cbc3e3;
    padding: 1rem 0 1rem 0;
  }
  .solid-nav {
    background-color: #fff;
    transition: background-color 0.2s linear;
  }
  .nav-logo-div1{
    width: 7rem;
    height: auto;
    display: block;
    position: absolute;
    top: 0px;
    left: 0;
    transform: translate(15%, -25%);
    font-size: 1.8rem;
    color: white;
  }
  .nav-logo-div2{
    width: 10rem;
    height: auto;
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
    transform: translate(-60%, -30%);
    font-size: 1.8rem;
    color: white;
    /* background: #fff; */
   }
  /* a {
     font-family: "Poppins", sans-serif; 
  } */
  .navbar-logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
  }
  
  /* .fa-firstdraft {
    margin-left: 0.5rem;
    font-size: 1.6rem;
  }
   */
  /* .active
  {
      padding: 9px 16px;
      border-radius: 4px;
      outline: none;
      border: 0.5px ;
      font-size: 18px;
      background-color: yellow;
      color: #000 !important;
      font-weight: 500;
      font-family: "Poppins", sans-serif;
      transition: all .5s ease 0s;
  }
  
  .active:hover
  {
    color: white !important;
    background-color: #000 !important;
  } */
  
  /* .nav-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 0.8rem;
  } */
  
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100vh;
    position: absolute;
    justify-content:flex-start;
    top: 60px;
    right: -110%;
    opacity: 1;
    transition: all 0.5s ease;

      /* blureffect */

      

  }

  .nav-menu.active {
    width: 20%;
    padding: 2rem 1rem 2rem 2rem;
    /* background:#2b2b2b; */
    top:0;
    backdrop-filter: blur(10px);
   /*  -webkit-backdrop-filter: blur(10px); */
    /* left: 23px; */
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 101;
    border: none;
    right: 0;

    /* blureffect */

    background: rgba( 255, 255, 255, 0.9 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 16.5px );
    -webkit-backdrop-filter: blur( 16.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

}
  .nav-menu.active img {
    max-width: 60% !important;
    position: absolute;
    top: 0px;
  }


  .nav-item {
    display: flex;
    align-items: center;
    height: 80px;
  }
  
  .nav-links {
    color: var(--primary-text);
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  
  .nav-links:hover {
    /* color: #000; */
    transition: var(--transition);
  }
  
  /* .fa-bars {
    color: #fff;
  } */
  
  /* .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: var(--color-green);
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
  }
   */
  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.5rem;
    color: #000;
    z-index: 1000;

  }

  @media screen and (max-width: 700px) {
    .nav-logo-div1{
      transform: translate(15%, 7%);
      /* width: 40%; */
      width: 6rem;
      height: auto;
      
    }
    .nav-logo-div2{
      display: none;
    }
  }
  
  @media screen and (max-width: 1200px) and (min-width:700px) {
    .nav-logo-div1{
      width: 6rem;
      height: auto;
      transform: translate(15%, 0%);
    }
    .nav-logo-div2{
      width: 8rem;
      height: auto;
      transform: translate(-60%, 8%);
        }

  }
  @media screen and (max-width: 1200px) {
    .NavbarItems {
      position: relative;
    }
    .log_img
    {
      max-width: 100% !important;
      margin-top: 0px !important;
    }
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100vh;
      position: absolute;
      justify-content:flex-start;
      top: 65px;
      left: -110%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
    
      width: 100%;
      padding: 3rem 1rem 3rem 1rem;
      /* background: #000; */
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
      border: none;
    }
    .nav-menu.active img {
      max-width: 60% !important;
      position: absolute;
      top: 0px;
    }
    .nav-links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .nav-links:hover {
      color: #fff;
      background: var(--primary-text);
    }
  
    .navbar-logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 50%);
    }
  
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      color: #000;
    }  
  }
  
  
 