@import "./component/assets/styles/fonts.css";
@import "./component/assets/styles/commonClasses.css";
@import "./component/assets/styles/variables.css";
@import "./component/assets/styles/animations.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
  scroll-behavior: smooth;
}
a{
  color:#ffe570;
  text-decoration: none;
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Kanit', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: var(--bg-primary); */
  background-color: #f3f4f6;
  /* color: #ffffd8; */
  color: var(--primary-text);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.btn {
  padding: 9px 16px;
  border-radius: 4px;
  outline: none;
  /* border: 0.5px solid var(--color-green); */
  font-size: 18px;
  /* background-color: var(--color-green); */
  /* color: #000; */
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.btn:hover {
  transition: var(--transition);
  color: var(--color-green);
  background-color: #000;
  border: 0.5px solid var(--color-green);
}